/* ==========================================================================
                    Default Theme                        
============================================================================= 
fonts  :    Teko & Jost
-----------------------------------------------------------------------------
colors :

        Bright yellow : #FFAE2C
        slate gray    : #6C7E86
        platinum      : #E4E6E3  
        Black         : #000000
        White         : #FFFFFF
        sea green     : #00F5D4

==============================================================================*/

/* ===========================================================================

                          Pre Loader                                          

==============================================================================*/

#preloader{
        background-color: blueviolet;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 9999;
        
}

