/* ==========================================================================
                    Default Theme                        
============================================================================= 
fonts  :    Teko & Jost
-----------------------------------------------------------------------------
colors :

        Bright yellow : #FFAE2C
        slate gray    : #6C7E86
        platinum      : #E5E4E2  
        Black         : #000000
        White         : #FFFFFF
        sea green     : #00F5D4

==============================================================================*/

/* ===========================================================================

                HTML, Body - general css which can be apply to all                                          

==============================================================================*/

html,body{
        height: 100%;

}

body{
        color: #6C7E86           /*    default text colour for all   */
}

h1,h2,h3,h4,h5,h6{
        font-family: "Teko", sans-serif;     /*   san serif will be accessed defaultly when teko font is unavailable  */
}

p{
        font-family: "Jost", sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        
}

section{
        background: #fff;
        overflow: hidden;
}

/* ===========================================================================

                        Buttons - general apply to all buttons                                        

==============================================================================*/

.btn-general{
        font-family: 'Teko', sans-serif;
        border-radius: 28px;
        font-size: 18px;
        text-transform: uppercase;
        margin: 0 8px;                             /*      outside spaceing not much useful but having it may useful    */
        padding: 12px 46px;                                  /*     inner spaceing in button     */
        transition: all .5s;

        /* tempory css we are taking below to look the color while testing before writing 'btn-home' in home section*/
        /* color: aliceblue;
        border: 2px solid white; */
}



/* ===========================================================================

                          Pre Loader                                          

==============================================================================*/

#preloader{
        background-color: #fff;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 9999;
        
}

#preloader_status{
        background-image: url("../images/preloader/preloader.gif");
        background-repeat: no-repeat;
        width: 100px;                          /*     same measurements of gif should be used    */
        height: 100px;
        position: absolute;
        top : 50%;
        left : 50%;
        margin-top: -50px;
        margin-left: -50px;
}

/* ===========================================================================

                          Home                                         

==============================================================================*/

#home{
        background: none;                     /*      here we will override the bg of section     */
        height: 100%;
}

#home-bg-video{
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        min-height: 100%;
        min-width: 100%;
        width: auto;
        height: auto;
        z-index: -2;
        background: url("../images/home-poster/poster.jpg") no-repeat;
        background-size: cover;

}

#home-overlay{
        background-color: rgba(0, 0, 0, .8);
        width: 100%;
        height: 100%;
        position: fixed;
        /* from skiping some problems / no much important to write */
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        /* because it will adjust to full screen to all browsers */
        z-index: -1;                                                    /*   since it should be above the bg-video   */
}

#home-content{
        width: 100%;
        height: 100%;
        display: table;
}

#home-content-inner{
        display: table-cell;
        vertical-align: middle;                                           /*   it makes all the content to center of home page   */
}

#home-heading h1{
        color: #fff;
        font-size: 80px;
        font-weight: 100;
        text-transform: uppercase;
        margin: 0;
        display: inline-block;
}

#home-heading h1 span{
        color: #ffae2c;
        font-weight: 500;
}

#home-text p{
        color: #fff;
        font-size: 18px;
        font-weight: 100;
        margin: 8px 0 30px 0;                               /*    top right bottom left space gap for text to border of line height and button 30px is gap to button  */

}

.btn-home{
        color: #fff;
        border: 1px solid white;
}

.btn-home:hover,
.btn-home:focus{                                            /*     changes while curser moves over button    */
        color: #000;
        background-color: #00F5D4;
        border: 1px solid #00F5D4;
}

#arrow-down{
        position: absolute;
        left: 50%;
        bottom: 40px;
        color: #fff;
        font-size: 32px;
        width: 32px;
        height: 32px;
        text-align: center;
        margin-left: -16px;
        z-index: 1;
        transition: all .5s;
}

#arrow-down:hover,
#arrow-down:focus{
        color: #ffae2c;
        font-size: 40px;
        margin-bottom: 15px;
}

/* ===========================================================================

                        Content Boxes  -  generic boxes : applies for all                                   

==============================================================================*/

.content-box-lg{
        padding: 100px 0;                                         /*      [top/bottom] [left/right]  spaceing from boundary line   */
}
.content-box-md{
        padding: 100px 0;
}

/* ===========================================================================

                        Vertical Heading                                        

==============================================================================*/

.vertical-heading{
        margin-top: -10px;                                         /*      to move all horizontal text upwards         */
}

.vertical-heading h5{
        color: #ffae2c;
        font-size: 20px;
        font-weight: 600;
        text-transform: uppercase;
        word-spacing: 10px;
        transform: rotate(-90deg);
        position: relative;
        top: -200px;
        left: -200px;
}

.vertical-heading h2{
        margin-left: 150px;
        margin-top: -10px;
        font-size: 44px;
        font-weight: 200;
}


/* ===========================================================================

                        About - 01                                        

==============================================================================*/

#about-right p{
        font-size: 18px;
}

#about-bottom{
        margin-top: -20px;                      /*    moving the image upwards towards text to reduce the space between them    */
}

#about-bottom img{
        margin: 0 auto;                              /*     the image has to adjust automatically to any device / screen    */
}


/* ===========================================================================

                        About - 02                                        

==============================================================================*/

#about-02{
        background-color: #e5e4e2;
}

.about-item{
        background-color: #fff;
        padding: 60px 30px;
        box-shadow: 10px 0 10px rgba(204, 37, 37, 0.2);
        margin: 10px;        /* space between the block top bottom right left , you can see the change clearly when you minimize the tab and scroll the block */
}

/* .about-item i{               //   adding changes to i is not direct applying through css ,, so we use span    
        font-size: 40px;
} */

.about-item span{
        font-size: 50px;
        display: inline-block;

}

.about-item h3{
        font-size: 30px;
        margin-bottom: 20px;
}

.about-item hr{
        width: 120px;                                                      /*    width of line    */
        height: 3px;                                                            /*    height of line    */
        background-color: #ffae2c;
        border: none;
        margin: 0 auto;                                 /*    to center the line [top&bottom : 0] [left&right : auto]    */
}

.about-item p{
        margin-top: 20px;                                   /*      to have space between line and paragragh/text     */
}

/*   Hover[handover/mouseover] State   */

.about-item:hover{
        background-color: #ffae2c;
        color: #fff;
}

.about-item:hover span{
        color: #fff;                           /*  we want icon to change into white , later it has to transform , otherwise it will be black */
        transform: translateY(-30px);               /*      to move the icon upwards [vertically / y-axis] upto 30px    */
}

.about-item:hover hr{
        background-color: black;
}

/*   Smooth Transition   */
.about-item, .about-item span, .about-item hr{
        transition: all .5s ease-in-out;
  /*    animation effect 'ease in' : starts slowly ends fastly
        animation effect 'ease out' : starts fastly ends slowly
        animation effect 'ease in-out' : starts slowly chamges to fastly and Ends slowly chamges to fastly  */
}


/* ===========================================================================

                        Team                                       

==============================================================================*/

#team-left p{
        margin-top: 50px;          /*    distance between paragraph and vertical text    */
}

.team-member{
        margin: 10px;                 /*    gap b/w two team members profile       */
        position: relative;
}

.team-member-overlay{
        background-color: rgba(0,0,0,0.8);           /*    a refer to aqua i.e transparency   */
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        display: table;
}

.team-member-info{
        width: 100%;
        height: 100%;
        display: table-cell;
        vertical-align: middle;
}

.team-member-info h6{
        color: #ffae2c;
        font-size: 20px;
        font-family: 'Jost', sans-serif;
        margin: 0;
}

.team-member-info p{
        color: #fff;
}